{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Primple. Simple project management</title>
    <link rel='stylesheet' href="{% static "css/bootstrap.min.css" %}">
    <link rel='stylesheet' type="text/css" href="{% static "css/style.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Hind+Vadodara' rel='stylesheet' '>
</head>

<body>

<!--Header line start-->
<header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="/">
      <img src="{% static "img/primple_logo.jpg" %}" alt="Project simple management">
    </a>

    <div class="navbar-text">
      Simple project management
    </div>

  </nav>

</header>
<!--Header line end-->

{% block content %}
<div></div>
{% endblock %}

<!-- jQuery (Bootstrap JS plugins depend on it) -->
<script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>

</body>

</html>