{% extends "base_unreg.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">

  <!-- User authetnicate start !-->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <a class="btn btn-primary" href="/accounts/login/" role="button">Sign in</a>
        <a class="btn btn-primary" href="/accounts/register/" role="button">New user</a>
      </div>
    </div>
    <!-- User authetnicate end !-->

  <!-- Information about Primle start !-->
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div id="item-chicken">
            <h3 class="text-center">Simple</h3>
            <p>Text about Simple</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div id="item-beef">
            <h3 class="text-center">Convenient</h3>
            <p>Text about Convenient</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div id="item-sushi">
            <h3 class="text-center">Effective</h3>
            <p>Text about Effective</p>            
          </div>
        </div>
      </div>
  <!-- Information about Primle start !-->

  </div>
</div>

{% endblock %}